body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    color: #fff;
    text-align: right;
    padding-top: 0px;
    position: absolute;
    top: -15;
    right: 0;
    height: 10px;
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    header {
        text-align: center;
    }
    header a {
        display: block;
        margin: 5px auto;
        /* Adjust margin as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;
        /* Adjust max-width as needed */
    }
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header a:hover {
    text-decoration: underline;
}

.main {
    background-image: url('abstract-background-beautiful-close-up-image-wallpaper-ai-generated_859483-222950.avif');
    background-size: cover;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
}

.main-text {
    color: #fff;
    font-size: 4em;
    margin: 0;
}

.next1 {
    background-color: #00134d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#h2s {
    color: #b3c6ff;
}

p {
    color: #f2f2f2;
    padding: 5px;
}

h2 {
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    .main {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .main-text {
        font-size: 2.5em;
    }
}
